// Variables

//Fuente
$estilo__fuente--principal: 'Spectral', serif;
$estilo__fuente--color:black;
$estilo__fuente--size:1.25rem;

//Fuente títulos
$estilo__fuente--mainTitle: 'Vampiro One', cursive;
$estilo__fuente--secondaryTitle: 'Bangers', cursive;
$estilo__fuente--formTitle:'Bangers', cursive;

//Tamaño de imágenes
$carousel__image--size: 25rem;