.middle{
    padding: 3rem;
}

.right{
    padding: 1rem;
}

.footer{
    text-align: center;
    background-color: slategray;
    padding: 5rem;
    font-family: $estilo__fuente--secondaryTitle; font-size: 3rem;
}