/* Estilo para los textos */

.middle__article--textDesign{
    text-align: justify;

    p {
        font-size: $estilo__fuente--size;
        font-family: $estilo__fuente--principal; color: $estilo__fuente--color;
    }
}

.index__right{
    font-size: $estilo__fuente--size;
    margin: 2rem;
    padding: 1rem;
    border: black solid; border-radius: 2rem;
    background-image: linear-gradient(slategray, whitesmoke);
}

//Tamaño de las imágenes
.carousel-item {
    width: $carousel__image--size;
    padding-top: 5rem;
}