/* Estilo para los formularios */

.article__form--title{
    font-family: $estilo__fuente--formTitle; font-size: 1.875rem; color:black;
    padding: 1rem;
    text-align: center;
}
.form{
    background-color:silver;
    font-size: 1.1rem;
    font-family:Arial, Helvetica, sans-serif;
    background-image: linear-gradient(slategray, gray);
    padding: 1rem 5rem 2rem 5rem;
    margin: 1rem 2rem 2rem 1rem;
}
.form-control{
    border-radius: 0.3125rem;
    background-color: white;
    border:  0.125rem solid black;
    width: 15rem;
}
.form-control:hover{
    background-color: white;
    border:  0.125rem solid black;
    box-shadow: 0.1875rem 0.1875rem 0.375rem black;
}
.btn-primary{
    height: 2rem;
    padding: 0.2rem 2rem;
    border-radius: 0.4375rem;
    background-color: black;
    color: white;
    font-weight: 37.5rem;
    margin-top: 0.4rem;
}
.btn-primary:hover{
    box-shadow: 0.1875rem 0.1875rem 0.3125rem black;
    background-color: white;
    color: black;
}

.col-12{
    text-align: center;
}

.form-check{
    display: inline-block;
}

.article__text--cvBox{
    border: black solid; border-radius: 2rem;
    margin: 1rem;
    padding: 1rem;
    font-family: 'Spectral', serif; color:black; font-size: 1.1rem;
}
