/* Estilo para los formularios */

.article__form__container{
    background-size: 0.3125rem;
    background-image: linear-gradient(slategray, gray);
    text-align: center;
    padding: 1.875rem;
    box-shadow: 0.1875rem 0.1875rem 0.625rem black;
    overflow: hidden;
}
.article__form__container label{
    padding-right: 0.9375rem;
}
.article__form--title{
    font-family: $estilo__fuente--formTitle; font-size: 1.875rem; color:black;
}
.article__form form{
    background-color:silver;
    text-align: left;
    padding: 0.9375rem 0.9375rem 0.9375rem 0.9375rem;
    font-size: 0.9375rem;;
    display: grid; justify-items: center;
}
.article__form--boxes{
    border-radius: 0.3125rem;
    margin: 0.9375rem;
    background-color: white;
    border:  0.125rem solid black;
}
.article__form--boxes:hover{
    background-color: white;
    border:  0.125rem solid black;
    box-shadow: 0.1875rem 0.1875rem 0.375rem black;
}
.article__form--button{
    height: 2.5rem;
    padding: 0.625rem 2.5rem;
    border-radius: 0.4375rem;
    background-color: black;
    color: white;
    font-weight: 37.5rem;
    margin-top: 0.625rem;
}
.article__form--button:hover{
    box-shadow: 0.1875rem 0.1875rem 0.3125rem black;
    background-color: white;
    color: black;
}

.article__text--cvBox{
    border: black solid; border-radius: 2rem;
    margin: 1rem;
    padding: 1rem;
    font-family: 'Spectral', serif; color:black; font-size: 1.1rem;
}
