/* Estilos de fuente */
/* Fuente para el título principal */
@import url('https://fonts.googleapis.com/css2?family=Vampiro+One&display=swap');

/* Fuente para títulos secundarios */
@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');

/* Fuente para letras */
@import url('https://fonts.googleapis.com/css2?family=Spectral&display=swap');
