/* Estilos de fuente */
/* Fuente para el título principal */
@import url('https://fonts.googleapis.com/css2?family=Vampiro+One&display=swap');

/* Fuente para títulos secundarios */
@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');

/* Fuente para letras */
@import url('https://fonts.googleapis.com/css2?family=Spectral&display=swap');

body {
    font-family: Arial, Helvetica, sans-serif;
}

/* Estilo del Grid */
.body__grid {
    display: grid;
    grid-template-areas: 
    'header header header header' 
    'middle middle middle right' 
    'footer footer footer footer';
    border: black solid;
    margin: 1rem;
} 

.header {
    grid-area: header;
    background-color:slategrey;
    text-align: center;
    font-size: 35px;
    border: black solid;

}

.middle {
    grid-area: middle;
    border-right: black solid;
    padding: 0.5rem 0.5rem 0.5rem 0.5rem;

}

.right {
    grid-area: right;
    padding: 0.5rem 0.5rem 0.5rem 0.5rem;
}

.footer {
    grid-area: footer;
    background-color: slategrey;
    text-align: center;
    border: black solid;
}


/* Títulos */
#main__title{
    color:black;
    font-size:2.5rem;
    text-align: center;
    background-color: whitesmoke;
    border-radius: 0.625rem;
    font-family: 'Vampiro One', cursive;

}
.article__text__main--title{
    color: black;
    font-size: 2.1875rem;
    font-family: 'Bangers', cursive; text-align: center;
}
.article__text__secondary--title{
    color:black;
    font-size: 1.5625rem;
    font-family: 'Bangers', cursive;
}

/* Estilo para las imágenes */

.main__title--img{
    margin-bottom: 2rem;
}


p{
    font-size: 1.25rem;
    font-family: 'Spectral', serif; color:black;
}

/* Estilo para el menu */

.container{
    margin: 0.938rem;
    font-family: 'Bangers', cursive;
}

.navbar-brand{
    background-color: slategray;
    border-radius: 1rem;
    font-size: 0rem;
    margin-right: 0rem;
}

#navbarNav{
    justify-content: center;
}

.navbar-nav{
    align-items: center;
}

.nav-item{
    font-size: 2rem;
    padding: 1rem;

}

.nav-item:hover{
    box-shadow: 0.1875rem 0.1875rem 0.3125rem black;
    background-color:steelblue;
}

/* Estilos para los íconos de redes sociales */

.header__socialNIcons{
    display: contents;
}
.fa {
    padding: 0.625rem;
    font-size: 2.8125rem;
    width: 1.5625rem;
    text-align: center;
    text-decoration: none;
    margin: 0.313rem 0.313rem ;
    border-radius: 40%;
}

.fa:hover {
    opacity: 0.7;
}  
.fa-facebook {
    background: #3B5998;
    color: white;
}
.fa-youtube {
    background: #bb0000;
    color: white;
}
.fa-instagram {
    background: #125688;
    color: white;
}

/* Estilo lado derecho */

.right__aside{
    width: 32rem;
}

/* Estilo para los formularios */

.article__form__container{
    background-size: 0.3125rem;
    background-image: linear-gradient(slategray, gray);
    text-align: center;
    padding: 1.875rem;
    box-shadow: 0.1875rem 0.1875rem 0.625rem black;
    overflow: hidden;
}
.article__form__container label{
    padding-right: 0.9375rem;
}
.article__form--title{
    font-family: 'Bangers', cursive; font-size: 1.875rem; color:black;
}
.article__form form{
    background-color:silver;
    text-align: left;
    padding: 0.9375rem 0.9375rem 0.9375rem 0.9375rem;
    font-size: 0.9375rem;;
    display: grid; justify-items: center;
}
.article__form--boxes{
    border-radius: 0.3125rem;
    margin: 0.9375rem;
    background-color: white;
    border:  0.125rem solid black;
}
.article__form--boxes:hover{
    background-color: white;
    border:  0.125rem solid black;
    box-shadow: 0.1875rem 0.1875rem 0.375rem black;
}
.article__form--button{
    height: 2.5rem;
    padding: 0.625rem 2.5rem;
    border-radius: 0.4375rem;
    background-color: black;
    color: white;
    font-weight: 37.5rem;
    margin-top: 0.625rem;
}
.article__form--button:hover{
    box-shadow: 0.1875rem 0.1875rem 0.3125rem black;
    background-color: white;
    color: black;
}

.article__text--cvBox{
    border: black solid; border-radius: 2rem;
    margin: 1rem;
    padding: 1rem;
    font-family: 'Spectral', serif; color:black; font-size: 1.1rem;



}

/* Estilo para la tabla */

.article__table{
    background-color: black;
    width: 45rem;
    overflow: hidden;

}
#article__table--components thead, tbody{
    border-collapse: collapse;
    background-image: linear-gradient(slategray, gray);
    border: 0.125rem solid black;
    font-size: large;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.Precio{
    text-align: center;
}


  /* Estilo responsive */
@media (max-width: 600px) {
    .body__grid{
    grid-template-areas: 
        'header header header header header' 
        'middle middle middle middle middle' 
        'right right right right right' 
        'footer footer footer footer footer';
    }
}
